header {
    display: flex;
    justify-content: center;
    max-width: 700px;
    height: 50px;
    margin: auto;
    padding-top: 15px;
}

.header_resto {
    display: flex;
    align-items: center;
    padding-top: 15px;
    position: relative;

        .icone_header {
            position: absolute;
            left: 0;
            padding: 10px;
            color: black;
            margin-left: 10px;
        }

        .logo_wrapper {
            display: flex;
            justify-content: center;
        }

        .logo {
            max-width: 130px;
            width: 100%;
        }
}