@import "variables";
@import "animations";
@import "pageMenu";
@import "button";
@import "header";
@import "footer";
@import "../fonts/fontawesome/scss/fontawesome.scss";

body {
    font-family: 'Roboto', sans-serif;
    max-width: 900px;
    margin: 0;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 23px;
}

h3 {
    color: black;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .geoloc {
        box-shadow: inset 0 7px 5px -7px #6d6d6d;
        background-color: $medium-grey;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        .fa-map-marker-alt {
            color: $grey-geoloc;
        }

        .emplacement {
            color: rgb(110, 110, 110);
            font-weight: bold;
            margin-left: 15px;
        }
    }

    .intro_texte {
        background-color: $light-grey;
        display: flex;
        flex-direction: column;
        justify-content: center, space-between;
        text-align: center;
        padding: 20px 20px 65px 20px;

        .decouvrez {
            font-weight: 230;
            margin-top: 0px;
        }
    }
}

.icone_gris {
    color: rgb(110, 109, 109);
    opacity: 1;
}

.icone_couleur {
    background: linear-gradient(180deg,$primary,70%,$secondary);
    color: transparent;
    background-clip: unset;
    -webkit-background-clip: text ;
    opacity: 0;
}

.icone_fav {
    position: absolute;
    right: 0;
}


.icone_blanc {
    color: white;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 50px 30px;
    background-color: white;

    .fonctionnement_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fonctionnement_item {
        margin-top: 12px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        background-color: $light-grey;
        width: 100%;
        max-width: 400px;
        height: 80px;
        border-radius: 25px;
        box-shadow: 0px 6px 5px 0px rgba(204,204,204,1);
            &:hover {
                background-color: rgb(221, 219, 219);
                .icone_gris {
                    color: $primary;
                }
            }
    }

    .fonctionnement_nombre {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        background-color: $primary;
        margin-left: -10px;
        color: white;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        font-size: 14px;
    }

    .icone_place {
        margin-left: 20px;
    }

    .fonctionnement_texte {
        color: rgb(34, 34, 34);
        font-weight: bold;
        font-size: 17px;
        margin-left: 20px;
        margin-right: 10px;
    }
}

.restaurants {
    background-color: $light-grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;

    .restaurants_wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .restaurants_item {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 370px;
        height: 250px;
        margin: 20px;

        .restaurants_image {
            height: 175px;
            max-width: 370px;
            width: 100%;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            object-fit: cover;
        }

        .sticker_nouveau {
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: $tertiary;
            color: rgb(4, 150, 4);
            padding: 7px 14px;
        }

        .restaurants_info {
            display: flex;
            justify-content: space-between;
            background-color: white;
            height: 70px;
            border-bottom-right-radius: 25px;
            border-bottom-left-radius: 25px;
            padding: 0px 25px 10px 10px;
        }

        .restaurants_info_texte {
            display: flex;
            flex-direction: column;
        }

        .restaurants_nom {
            padding-bottom: 0px;
        }

        .restaurants_emplacement {
            color: rgb(49, 49, 49);
            font-weight: 300;
            margin-top: -10px;
        }

        .restaurants_icone {
            position: relative;
            display: flex;
            align-items: center;
            &:hover {
                .icone_gris {
                    opacity: 0;
                }

                .icone_couleur {
                    opacity: 1;
                    animation: coeur 300ms;
                }
            }
        }
    }
}

@media only screen and (min-width: 800px) {

    body {
        margin: auto;
    }

    .fonctionnement {

        .fonctionnement_wrapper {
            flex-direction: row;
            justify-content: space-between;
            margin-left: -30px;

            .fonctionnement_item {
                max-width: 300px;
                margin-left: 30px;
            }
        }
    }

    .restaurants{
        margin: 0 15px;

        .restaurants_wrapper {
            flex-direction: row;
            justify-content: center;
            padding-left: -10%;
        }
    }

    footer {

        .footer_menu {
            flex-direction: row;
            justify-content: space-between;
        }
    }

}
