@import "variables";
@import "animations";
@import "button";
@import "header";
@import "footer";
@import "../fonts/fontawesome/scss/fontawesome.scss";

.wrapper_all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo_couverture {
    display: flex;
    width: 100%;
    max-width: 700px;
    max-height: 400px;
}

.cover_pic {
    object-fit: cover;
}

.menu {
    display: flex;
    margin-top: -25px;
    padding-bottom: 50px;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    background-color: $light-grey;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    .menu_title {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .restaurant_icone {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nom_restaurant {
        font-family: 'Shrikhand', cursive;
        font-weight: 100;
    }

    .menu_item {
        padding:20px;
        display: flex;
        margin-top: 30px;
        flex-direction: column;

        .menu_nom {
            padding-bottom: 5px;
        }

        .menu_nom_texte {
            font-size: 21px;
            font-weight: lighter;
        }

        .menu_barre {
            margin-top: -10px;
            height: 3px;
            width: 40px;
            background-color: $tertiary;
        }

        .menu_plat {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-top: 15px;
            background-color: white;
            box-shadow: 1px 1px 4px #555;
            border: none;
            width: 98%;
            max-width: 700px;
            padding: 0 10px;
            border-radius: 20px;
            cursor: pointer;
            animation-name: plat-appearance;
            animation-duration: 500ms;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: backwards;
            animation-play-state: running;

        }


        .plat_normal {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .plat_hover {
            display: none;
            transition: transform 400ms;
            &:hover {
                display: block;
                background-color: $tertiary;
                width: 50px;
            }
        }

        .plat_texte {
            display: flex;
            flex-direction: column;
            align-items: baseline;
        }

        .plat_nom {
            font-weight: bold;
            font-size: 17px;
        }

        .plat_content {
            font-weight: lighter;
            font-size: 14px;
            margin-top: -5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: calc(100%-50px);
        }

        .plat_prix {
            font-weight: bold;
            font-size: 15px;
            padding-top: 30px;
            color: rgb(83, 83, 83);
            margin-right: 15px;
        }
    }

    .btn_wrapper {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .test {
        background-color: aqua;
        height: 50px;
    }
}

.animation-1 {animation-delay: 0s;}
.animation-2 {animation-delay: 0.2s;}
.animation-3 {animation-delay: 0.4s;}
.animation-4 {animation-delay: 0.6s;}
.animation-5 {animation-delay: 0.8s;}
.animation-6 {animation-delay: 1s;}
.animation-7 {animation-delay: 1.2s;}
.animation-8 {animation-delay: 1.4s;}
.animation-9 {animation-delay: 1.6s;}